<?xml version="1.0"?>
<ruleset name="NetGrossCalculator">
    <description>The coding standard of NetGrossCalculator package</description>
    <arg value="p" />

    <arg name="colors" />
    <arg value="s" />

    <!-- Use the PSR2 Standard-->
    <rule ref="PSR2" >
        <exclude-pattern>*/Kernel.php</exclude-pattern>
    </rule>
</ruleset>